<div class="card-area">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Título</mat-card-title>
            <mat-card-subtitle>Subtitulo</mat-card-subtitle>
            <img src="https://w7.pngwing.com/pngs/409/361/png-transparent-rubber-duck-foie-gras-anseriformes-bird-duck-child-animals-paw.png" mat-card-avatar>
        </mat-card-header>
        <img src="https://w7.pngwing.com/pngs/409/361/png-transparent-rubber-duck-foie-gras-anseriformes-bird-duck-child-animals-paw.png" mat-card-image>
        <mat-card-content class="card-content">
            <strong>Lorem ipsum quack</strong>
        </mat-card-content><!-- conteudo -->
        <mat-card-actions>
            <button>Like</button>
            <button>Compartilhar</button>
            <button>Quack</button>
        </mat-card-actions>
        <mat-card-footer>
            <div>
                Rodapé
            </div>
        </mat-card-footer>
    </mat-card>
</div>