.card-area{
    max-width: 400px; margin: auto; padding: 1em;
    .card-content{
        padding-top: 30px;
        padding-bottom: 20px;
    }

    mat-card-actions{
        padding: 10px;
        gap: 10px;

        button{
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: aquamarine;
        }
        
    }
    mat-card-footer{
        margin: 0 auto;
        padding: 10px;
    }
}